snippet head "#!/usr/bin/python" b
#!/usr/bin/python
endsnippet
snippet if "A simple if statement" b
if ${1}:
	
endsnippet
snippet else "A simple else statement" b
else:
	
endsnippet
snippet fun "Defines a function" b
def ${1}(${2}):
	
endsnippet
